      <div class="featurette" id="mythen">
        <h2 class="featurette-heading">Mythen calibration
	  <!-- <span class="text-muted">Will Seal the Deal.</span> -->
	</h2>
        <p>
	  <a href="../pictures/{stub}_calibration.png">
	    <img class="center" src="../pictures/{stub}_calibration.png" width="50%" alt="" /></a>	  
	</p>

        <div class="container">
            <dl class="sample_list">
	      <dt>Calibration time</dt> <dd>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</dd>
              <dt>Mythen gap</dt> <dd>{gap} mm</dd>
              <dt>Central pixel</dt> <dd>{pixel0}</dd>
              <dt>Distance from sample</dt> <dd>{distance}</dd>
              <dt>Angle per pixel</dt> <dd>{angle}</dd>
              <dt>dir ROI</dt> <dd>{dirroi}, &plusmn;{ndir} pixels, {sizedir} mm</dd>
              <dt>refl ROI</dt> <dd>{reflroi}, &plusmn;{nrefl} pixels, {sizerefl} mm </dd>
              <dt>Fit function</dt> <dd>arctan((channel - {pixel0}) / {angle})</dd>
              <dt>Distance</dt> <dd>D = 0.05 x {angle} = {distance}</dd>
              <dt>Beam energy</dt> <dd>{energy} eV</dd>
	      <dt>Vertical slits</dt> <dd>top={s1t} mm, bottom={s1b} mm, vertical size={sv} mm</dd>
	      <dt>Horizontal slits</dt> <dd>outboard={s1o} mm, inboard={s1i} mm, horizontal size={sh} mm</dd>
              <dt>Calibration UID</dt> <dd>{uid}</dd>
              <dt>Calibration HDF5 file</dt> <dd>{hdffile}</dd>
	      
            </dl>
        </div>
  

      </div>

      <hr class="featurette-divider">
