      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p>
	  XRR measurement report for sample: {stub} <span style="float: right;">report written {now}<span>
	</p>
	<p>
	  Modified from the
	  <a href="https://github.com/learning-zone/website-templates/tree/master/one-page-wonder">
	    One-Page-Wonder
	  </a>
          template from
	  <a href="https://github.com/learning-zone/website-templates/">
	    website-templates
	  </a>
	</p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->

    <!-- JavaScript -->
    <!-- <script src="js/jquery-1.10.2.js"></script> -->
    <!-- <script src="js/bootstrap.js"></script> -->

  </body>

</html>
