<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{stub}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'One Page Wonder' Template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <link href="css/bmm.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://www.bnl.gov/nsls2/beamlines/beamline.php?r=6-BM">BMM</a></li>
            <li><a href="https://nsls2.github.io/bmm-goniometer-manual/">Beamline manual</a></li>
	  </ul>
          <ul class="nav navbar-nav" style="float: right;">
            <li><a href="#xrr">XRR data</a></li>
            <li><a href="#cameras">Cameras</a></li>
            <li><a href="#align">Sample alignment</a></li>
            <li><a href="#spine">Spine refinement</a></li>
            <li><a href="#mythen">Detector calibration</a></li>
            <li><a href="#baseline">Baseline</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="header-image">

      <div class="headline">
        <div class="container">
          <h1>{stub}</h1>
        </div>
      </div>

    </div><!-- /header-image -->


      <!-- START THE FEATURETTES -->
    <div class="container">

      <!-- START THE FEATURETTES -->

