
      <div class="featurette" id="cameras">
        <h2 class="featurette-heading">Cameras
	  <!-- <span class="text-muted">Will Catch Your Eye</span> -->
	</h2>

	<div class="colrow">
	  <div class="fourcolumn">
	    XAS webcam
	    <a href="missing.png">
	      <img class="left" src="missing.png" width="95%" alt="" /></a>
	    UID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
	  </div>
	  <div class="fourcolumn">
	    XRD webcam
	    <a href="missing.png">
	      <img class="left" src="missing.png" width="95%" alt="" /></a>
	    UID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
	  </div>
	  <div class="fourcolumn">
	    USB cam5
	    <a href="missing.png">
	      <img class="left" src="missing.png" width="95%" alt="" /></a>
	    UID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
	  </div>
	  <div class="fourcolumn">
	    USB cam6
	    <a href="missing.png">
	      <img class="left" src="missing.png" width="95%" alt="" /></a>
	    UID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
	  </div>
	</div>
      </div>
      
      <hr class="featurette-divider">
