
      <div class="featurette" id="xrr">
        <h2 class="featurette-heading">XRR measurement
	  <!-- <span class="text-muted">Will Catch Your Eye</span> -->
	</h2>
        <p>
	  <a href="../pictures/{stub}.png">
	    <img class="left" src="../pictures/{stub}.png" width="100%" alt="" /></a>	  
	</p>

      <div class="container">
          <dl class="sample_list">
            <dt>XRR file:</dt> <dd><a href="../{stub}.xdi">{stub}.xdi</a></dd>
            <dt>XRR file:</dt> <dd><a href="../{stub}_XRR_MAT">{stub}_XRR_MAT</a></dd>
            <dt>sample composition</dt> <dd>{composition}</dd>
            <dt>sample preparation</dt> <dd>{preparation}</dd>
            <dt>other comments</dt> <dd>{comment}</dd>
            <dt>monitor</dt> <dd>{monitor}</dd>
            <dt>detector</dt> <dd>{detector}</dd>
            <dt>start time</dt> <dd>{start}</dd>
            <dt>stop time</dt> <dd>{stop}</dd>
            <dt>UID</dt> <dd>{uid}</dd>
            <dt>HDF5 file</dt> <dd>{hdffile}</dd>
	  </dl>
      </div>


      <div class="container">
          <dl class="sample_list">
             <dt>experimenters</dt> <dd>{experimenters}</dd>
             <dt>Proposal folder</dt> <dd>{folder}</dd>
             <dt>beamline</dt> <dd>{beamline}</dd>
             <dt>source</dt> <dd>{source}</dd>
             <dt>collimation</dt> <dd>{collimation}</dd>
             <dt>focusing</dt> <dd>{focusing}</dd>
             <dt>endstation</dt> <dd>{endstation}</dd>
             <dt>software</dt> <dd>{software}</dd>
             <dt>hklpy2_mode</dt> <dd>{hklpy2_mode}</dd>
	     <dt>sftp link</dt> <dd>sftp://sftp.nsls2/bnl.gov{folder}</dd>
	     <dt>Tiled link</dt> <dd><a href="https://tiled.nsls2.bnl.gov/api/v1/metadata/bmm/migration">https://tiled.nsls2.bnl.gov/api/v1/metadata/bmm/migration</a></dd>
             <dt>GUP</dt> <dd>{gup}</dd>
             <dt>SAF</dt> <dd>{saf}</dd>
             <dt>cycle</dt> <dd>{cycle}</dd>
        </dl>
      </div>
  
      </div>

      <hr class="featurette-divider">
