
      <div class="featurette" id="align">
        <h2 class="featurette-heading">Sample alignment
	  <!-- <span class="text-muted">Is Pretty Cool Too.</span> -->
	</h2>
        <p class="lead">
	</p>
	<div class="colheader">
	  <h3>Vertical alignment sequence</h3>
	</div>

	<div class="colrow">
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_vertical_pass1.png">
	      <img class="left" src="../pictures/{stub}_vertical_pass1.png" width="95%" alt="" /></a>
	    {vuid1}
	  </div>
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_vertical_pass2.png">
	      <img class="left" src="../pictures/{stub}_vertical_pass2.png" width="95%" alt="" /></a>
	    {vuid2}
	  </div>
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_vertical_pass3.png">
	      <img class="left" src="../pictures/{stub}_vertical_pass3.png" width="95%" alt="" /></a>
	    {vuid3}
	  </div>
	</div>

	<div class="colheader">
	  <h3>Eta alignment sequence</h3>
	</div>

	<div class="colrow">
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_eta_pass1.png">
	      <img class="left" src="../pictures/{stub}_eta_pass1.png" width="95%" alt="" /></a>
	    {euid1}
	  </div>
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_eta_pass2.png">
	      <img class="left" src="../pictures/{stub}_eta_pass2.png" width="95%" alt="" /></a>
	    {euid2}
	  </div>
	  <div class="threecolumn">
	    <a href="../pictures/{stub}_eta_pass3.png">
	      <img class="left" src="../pictures/{stub}_eta_pass3.png" width="95%" alt="" /></a>
	    {euid3}
	  </div>
	</div>

	<div class="colheader">
	  <h3>Step and peak analysis results</h3>
	</div>

        <table class="center">
	  <tr>
	    <th>Iteration</th>
	    <th>samplez</th>
	    <th>eta_peak</th>
	    <th>eta_com</th>
	    <th>eta_cen</th>
	  </tr>
	  <tr>
	    <td>1</td>
	    <td>{sz1}</td>
	    <td>{peak1}</td>
	    <td>{com1}</td>
	    <td>{cen1}</td>
	  </tr>
	  <tr>
	    <td>2</td>
	    <td>{sz2}</td>
	    <td>{peak2}</td>
	    <td>{com2}</td>
	    <td>{cen2}</td>
	  </tr>
	  <tr>
	    <td>3</td>
	    <td>{sz3}</td>
	    <td>{peak3}</td>
	    <td>{com3}</td>
	    <td>{cen3}</td>
	  </tr>
	</table>
	
      </div>

      <hr class="featurette-divider">
