
      <div class="featurette" id="spine">
        <h2 class="featurette-heading">Spine refinement of eta
	  <!-- <span class="text-muted">Will Seal the Deal.</span> -->
	</h2>
        <p>
	</p>

	<div class="colrow">
	  <div class="fourcolumn">
	    <span style="font-size:18px">Eta = {nominal1}</span>
	    <a href="../pictures/{stub}_eta_{nominal1}.png">
	      <img class="left" src="../pictures/{stub}_eta_{nominal1}.png" width="95%" alt="" /></a>
	    {uid1}
	  </div>
	  <div class="fourcolumn">
	    <span style="font-size:18px">Eta = {nominal2}</span>
	    <a href="../pictures/{stub}_eta_{nominal2}.png">
	      <img class="left" src="../pictures/{stub}_eta_{nominal2}.png" width="95%" alt="" /></a>
	    {uid2}
	  </div>
	  <div class="fourcolumn">
	    <span style="font-size:18px">Eta = {nominal3}</span>
	    <a href="../pictures/{stub}_eta_{nominal3}.png">
	      <img class="left" src="../pictures/{stub}_eta_{nominal3}.png" width="95%" alt="" /></a>
	    {uid3}
	  </div>
	  <div class="fourcolumn">
	    <span style="font-size:18px">Eta = {nominal4}</span>
	    <a href="../pictures/{stub}_eta_{nominal4}.png">
	      <img class="left" src="../pictures/{stub}_eta_{nominal4}.png" width="95%" alt="" /></a>
	    {uid4}
	  </div>
	</div>

        <table class="center">
	  <tr>
	    <th>Eta (nominal)</th>
	    <th>delta</th>
	    <th>attenutor</th>
	    <th>eta_eta_found</th>
	    <th>difference</th>
	  </tr>
	  <tr>
	    <td>{nominal1}</td>
	    <td>{delta1}</td>
	    <td>{attenuator1}</td>
	    <td>{found1}</td>
	    <td>{diff1}</td>
	  </tr>
	  <tr>
	    <td>{nominal2}</td>
	    <td>{delta2}</td>
	    <td>{attenuator2}</td>
	    <td>{found2}</td>
	    <td>{diff2}</td>
	  </tr>
	  <tr>
	    <td>{nominal3}</td>
	    <td>{delta3}</td>
	    <td>{attenuator3}</td>
	    <td>{found3}</td>
	    <td>{diff3}</td>
	  </tr>
	  <tr>
	    <td>{nominal4}</td>
	    <td>{delta4}</td>
	    <td>{attenuator4}</td>
	    <td>{found4}</td>
	    <td>{diff4}</td>
	  </tr>
	</table>

 	<div class="eta_result"><b>Eta offset refinement</b>: {answer} degrees</div>

      </div>

      <hr class="featurette-divider">
